# ignore build outputs of contract
contract/*/cache
contract/*/out
contract/*/build
contract/*/b
contract/*/broadcast


# ignore frontend deps, secrets, and build output
frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.*
!frontend/.env.example
